/* Targets any element with class 'text' that is INSIDE an element with class 'container' */
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}